<!DOCTYPE html>
<html lang="en">
<%- include('layouts/header'); -%>

<body>
  <!-- Navigation -->
  <%- include('layouts/navbar'); -%>
  <!-- Page Header -->
  <header class="masthead" style="background-image: url('img/home-bg.jpg')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            <h1>Blog Myself</h1>
            <span class="subheading">A Blog design by Trần Phúc Lân</span>
          </div>
        </div>
      </div>
    </div>
  </header>
  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <% for (let x in blogposts){ %>
        <div class="post-preview">
          <a href="/post/<%= blogposts[x]._id %>">
            <h2 class="post-title">
              <%= blogposts[x].title %>
            </h2>
            <h3 class="post-subtitle">
              <%= blogposts[x].body %>
            </h3>
          </a>
          <p class="post-meta">Posted by
            <a href="#"><%= blogposts[x].username %></a>
            on <%= blogposts[x].createdAt%></p>
        </div>
        <hr>
        <% } %>
        <!-- Pager -->
        <div class="clearfix">
          <!-- <a class="btn btn-primary float-right" href="#">Older Posts &rarr;</a> -->
        </div>
      </div>
    </div>
  </div>
  <hr>
  <!-- Footer -->
  <%- include('layouts/footer'); -%>
  <!-- Scripts -->
  <%- include('layouts/scripts'); -%>
</body>

</html>